@CHARSET "UTF-8";
body{
	min-width:1200px;
}
.adv_block{width:100%; height:289px;}
.img_about{width:100%; height:289px; background:url(../images/img_about.png);background-position: 50% 0px;background-repeat: no-repeat no-repeat;position: absolute;}
.img_aboutsp{
	position: absolute;
z-index: 1;
	right: 0px;
	top:6px;
	width: 540px;
	height: 345px;
	background:url(../images/img_aboutsp.png) center no-repeat;
}
.pf{ position:fixed; top:30px;}
.fcbc{margin-top: 1100px;}
.pr{ position:relative;}
.adv_01{ position:absolute; width:148px; height:358px; background:url(../images/adv_01.png) no-repeat; top:240px; right:0px;}
.Navigation_block{ width:165px; padding:3px; border:5px solid #e3e3e3; background:#fff;}
.Navigation_block h6{ background:#0579cb; color:#fff; padding-left:17px; height:40px; line-height:40px; font-size:19px;}
.Navigation_block ul{ overflow:hidden; padding-right:3px;}
.Navigation_block ul li{ font-size:14px; height:40px; line-height:40px; padding-left:17px; border-bottom:1px solid #f2f2f2; margin-bottom:-1px; padding-right:7px;cursor:pointer}
.Navigation_block ul li .ico{ display:none;}
.Navigation_block ul li{ color:#404040;}
.Navigation_block ul li:hover{color:#0579cb;}
.Navigation_block ul .current{ color:#0579cb; font-weight:bold;}
.Navigation_block ul .current .ico{ display:block;}
.w977{ width:977px;}
.fzlc .title{ width:100%; height:72px; }
.fzlc dl dd{ padding-left:112px;padding-bottom: 42px;margin-top: -8px;}
.fzlc dl dd .year{ color:#0579cb; display:block; width:112px; font-size:30px; text-align:center; height:30px; line-height:30px; margin-left:-112px; margin-top:8px;}
.fzlc dl dd ul li p{ font-size:15px; line-height:32px; color:#404040; }
.fzlc dl dd ul li p em{
	color: #0579cb;
}
.fzlc dl{background:url(../images/dian_201508051710.png)  repeat-y #fff 159px 0; margin-bottom:-50px;}
.fzlc dl dd ul li{ padding-left:68px;}
.fzlc dl dd ul li .month{ width:68px; margin-left:-68px; height:16px; line-height:16px; display:block; background: url(../images/month.png) no-repeat #fff 43px 0px; margin-top:8px;}
.mt31{ margin-top:31px;}

.pr191{ padding-right:191px;}
.blank34 {
	clear: both;
	height: 34px;
	overflow: hidden;
	display: block;
}
.abstracttitle{background:url(../images/abstracttitle.png) no-repeat;}
.progresstitle{background:url(../images/fzlc.png) no-repeat;}
.successtitle{background:url(../images/successtitle.png) no-repeat;}
.successtitle p{font-size: 22px;font-weight:500;height: 40px;line-height:25px;padding-left: 12px;font-family: "微软雅黑";}
.jobtitle{background:url(../images/jobtitle.png) no-repeat;}
.contact_ustitle{background:url(../images/contact_ustitle.png) no-repeat;}



.tab-items{
	float: right;
}
.tab-items li {
	background: #ebf3f8;
	color: #46484a;
	font-size: 15px;
	  border-radius: 17px;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  margin-right: 5px;
  float: left;
  position: relative;
}
.add-items li span{
	display: none;
	position: absolute;
	left: 0px;
	bottom: -5px;
	width: 100%;
	height: 5px;
	background:url(../images/jijiao.png) center no-repeat;
}
 .add-items li.active span{
 	display: block;
 }
 .add-items li.active {
  background: #0579cb;
  color: #fff;
}
 .add-items li.active a{
 	color: #fff;
 }
 
 .add-items li a{text-decoration:none}


 /*成功案例*/
 .common-show {
  display: block;
}
.common-hide {
  display: none;
}
.tab-change{

}
.successlink{
	overflow: hidden;
}
 .successlink .fff{
	background: #fff;
	padding: 3px;
	width: 100%;
}
.successlink .link{
	 border-bottom:1px dashed #ddd; 
	 border-right:1px dashed #ddd; 
	 height: 150px;
	 margin-bottom:-1px; 
	 margin-right:-1px;
}
.anli1{background-image: url(../images/anli1.png);}
.anli2{background-image: url(../images/anli2.png);}
.anli3{background-image: url(../images/anli3.png);}
.anli4{background-image: url(../images/anli4.png);}
.anli5{background-image: url(../images/anli5.png);}
.anli6{background-image: url(../images/anli6.png);}
.anli7{background-image: url(../images/anli7.png);}
.anli8{background-image: url(../images/anli8.png);}
.anli9{background-image: url(../images/anli9.png);}
.anli10{background-image: url(../images/anli10.png);}
.anli11{background-image: url(../images/anli11.png);}
.anli12{background-image: url(../images/anli12.png);}
.anli13{background-image: url(../images/anli6.png);}
.anli14{background-image: url(../images/anli3.png);}
.anli15{background-image: url(../images/anli5.png);}

.successlink .linkct {
	
	background-repeat: no-repeat;
	background-position:center -160px ;
	width: 100%;
	height: 100%;
	transition: all 0.6s ;
  -moz-transition: all 0.6s ;
  -webkit-transition: all 0.6s ;
  -o-transition: all 0.6s ;
}
.successlink .linkct:hover {
	background-position:center 0px ;
	background-color:#f7f7f7;
	transition: all 0.6s ;
  -moz-transition: all 0.6s ;
  -webkit-transition: all 0.6s ;
  -o-transition: all 0.6s ;

}
.successlink .link {
  width: 25%;
}
/*--------联系我们----------*/
.w981{ width::981px;}
.w591{ width:591px;}
.lx_title{ width:981px; height:72px; background:url(../images/lx_title.png) no-repeat;}
.lx .l_con{ border-right:1px dashed #d7d7d7;}
.lx_email{ padding-left:57px; height:33px; line-height:33px; font-size:15px; color:#404040; padding-right:13px; background:url(../images/lx_email.png) no-repeat #f3f6f8;}
.lx_telep{ color:#0579cb; font-weight:bold; font-size:22px; line-height:40px;}
.ml-115{ margin-left:-115px;}
.wx_img_b{padding:19px 0 0 165px; width:224px;}
.wx_img_b .con{ line-height:24px; font-size:14px; color:#4a4a4a; padding-top:34px; padding-left:16px;}
.new_table_2  td {
	padding-right: 13px;
	padding-left: 13px;	
	border:1px solid #efefef;
}
.swhz p{font-size: 16px;line-height: 40px;color:#404040;margin-top: 10px;}
.swhz p.lx_telep{ color:#0579cb; font-weight:bold; font-size:22px; line-height:20px;}
.new_table_2 tr{ border:1px solid #efefef;}
.new_table_2 .table_h{background:#0579cb; color:#fff; height:41px; line-height:41px; font-weight:bold; border:1px solid #0579cb;}
.change{ width:100%; height:2px; background:#e7e7e7;} 
.blank91{ height:91px; clear:both;}

.change li{ margin-top:-11px;background:url(../images/position_img_1.png) no-repeat 39px 0; padding-top:22px; width:130px; text-align:center;}
.change li p{ line-height:36px; font-size:20px; color:#212121;}
.change li .position_img{ width:34px; height:42px;;background:url(../images/position_img_2.png) no-repeat ; position:absolute; top:-30px;  left:33px; display:none;}
.change .current .position_img{ display:block;}
.address_info{position:absolute; width:1200px; height:64px; background: rgba(0, 0, 0, 0.5); bottom:0px; left:0px; line-height:26px; font-size:15px; color:#fff;}
.mt12{ margin-top:12px;}
.address_info p{ padding:5px 0 6px 17px;}
.ml279{ margin-left:279px;}
.mr279{ margin-right:279px;}
.address_map ul li{ display:none;}
.address_map ul .current{ display:block;}

/*--------公司简介----------*/

.w600{
	width: 600px;
}
.abstract_at p{
font-size: 14px;
  line-height: 25px;
  color: #404040;
}

.abstract_s1 p{
	padding: 5px 0px;
	text-indent: 2em;
}
.abstract_s2 h1{
	font-size: 17px;
	font-weight: bold;
	color: #535353;
	line-height: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.abstract_s2 p{
	padding-bottom: 15px;
	font-size: 13px;
}
.abstract_s3tit{
	width: 100%;
	height: 60px;
	background:url(../images/abstract_s3tit.png) no-repeat center;
}
.abstract_s4tit{
	width: 100%;
	height: 60px;
	background:url(../images/abstract_s4tit.png) no-repeat center;
}
.abstract_s5tit{
	width: 100%;
	height: 130px;
	background:url(../images/abstract_s5tit.png) no-repeat center;
}
.boxes .box{
	float: left;
	height: 240px;
	width: 33%;
}
.boxes .box_img{
	width:140px;
	height: 140px;
	margin: 0 auto;
}
.abstract_s3img1{background:url(../images/abstract_s3img1.png) center no-repeat;}
.abstract_s3img2{background:url(../images/abstract_s3img2.png) center no-repeat;}
.abstract_s3img3{background:url(../images/abstract_s3img3.png) center no-repeat;}
.boxes .box_img h1{
	font-family: Arial;
	color: #2f80d4;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	line-height: 50px;
	padding-top: 35px;
}
.boxes .box_img h2{
	color: #0066cc;
	font-size: 15px;
	font-weight: normal;
	text-align: center;
	line-height: 20px;

}
.boxes .box_img img{
	width: 100%;
	height: 100%;
}

.box_txt{
	color: #444;
	text-align: center;
	padding-bottom: 25px;
}
.box_txt h1{
	text-align: center;
	line-height: 45px;
	font-size: 24px;
	font-weight: normal;
}

.box_txt h2{
	text-align: center;
	line-height: 27px;
	font-size: 14px;
	font-weight:normal;
}

.fack{
	font-size: 14px;
  	line-height: 25px;
    color: #404040;
    text-align: center;
}
.s4con1{
	position: relative;
}
.s4con1 .joinus{
	display: block;
	position: absolute;
	bottom:4px;
	right: 0px;
	width: 80px;
	height: 80px;
	background:url(../images/joinus.png) center no-repeat;
}




/*加入我们*/
.fzlc .join_title{ background:url(../images/join_title.png) no-repeat;}
.w982{ width:982px;}
.join_title .tab-items{ margin-top:14px;}
.w165{ width:165px;}
.w817{ width:817px;}
.chang_nav_2 li{ width:88px; padding-right:48px; height:31px; background:url(../images/chang_nav_2_li.png) no-repeat 121px 13px; text-align:right; line-height:31px; font-size:14px; margin-bottom:17px; cursor:pointer;}
.chang_nav_2 .current{ background:url(../images/chang_nav_2_current.png) no-repeat; color:#fff; font-weight:bold;}
.chang_nav_2{ background:url(../images/chang_nav_2_ul.png) 124px 0px repeat-y;}
.job_title{ background:#e2edf5; line-height:38px; height:38px; font-size:15px; color:#353535; margin-bottom:5px;}
.job_title ul li{ width:20%; float:left; text-align:center;height: 38px;;line-height: 38px;}

.job_con dl dd .detail{ background:#f9fafc; padding:15px 25px; margin-top:5px; margin-bottom:10px; display:none;}
.fzlc .job_table_title ul li{ width:20%; float:left; text-align:center; padding:0px;line-height:35px; height:35px; font-size:15px; color:#353535; overflow:hidden}
.fzlc .job_con dl dd{ padding:0px; margin:0px;}
.fzlc .job_con dl{ background:none; margin:0px;}
.job_con dl dd .detail h6{ font-size:16px; line-height:35px;}
.job_con dl dd p{ font-size:15px; color:#4a4a4a; line-height:29px;}
.fzlc .job_table_title:hover{
	background: #F6FBFF;
	cursor: pointer;
}
.iconfont.shang{display:inline-block;width:32px;height:32px;margin: 3px;margin-top: 6px;background: url(../images/shang.png) center center no-repeat;background-size:contain}
.iconfont.hot{display:inline-block;width:32px;height:32px;margin: 3px;margin-top: 6px;background: url(../images/hots.png) center center no-repeat;background-size:contain}
.Guarantee_con{ border-top:1px solid #e5e5e5; padding-top:26px; padding-bottom:26px;} 
.pl23{ padding-left:23px;}
.w824{ width:824px;}
.Guarantee_con ul li{ font-size:14px; line-height:27px; color:#4a4a4a; width:370px; float:left; padding-left:42px; margin-bottom:11px;}
.Guarantee_con ul .one{ width:780px; background:url(../images/Guarantee_con_one.png) no-repeat;}
.Guarantee_con ul .two{  background:url(../images/Guarantee_con_two.png) no-repeat;}
.Guarantee_con ul .three{ background:url(../images/Guarantee_con_three.png) no-repeat;}
.Guarantee_con ul .four{  background:url(../images/Guarantee_con_four.png) no-repeat;}
.Guarantee_con ul .five{  background:url(../images/Guarantee_con_five.png) no-repeat;}
.Guarantee_con ul .six{  background:url(../images/Guarantee_con_six.png) no-repeat;}
.Guarantee_con ul .sever{ background:url(../images/Guarantee_con_sever.png) no-repeat;}
.Guarantee_con ul .eight{  background:url(../images/Guarantee_con_eight.png) no-repeat;}
.Guarantee_con ul .nine{  background:url(../images/Guarantee_con_nine.png) no-repeat;}
.blank43{ height:43px; clear:both;}
.Mask_top{position:absolute; width:3px; height:13px; background:#fff; top:0px; left:124px; z-index:1;}
.Mask_bottom{position:absolute; width:3px; height:26px; background:#fff; bottom:0px; left:124px; z-index:1;}
.chang_nav{z-index:10; position:absolute; top:0px; left:0px;}
.job_table_title .Arrow{ padding:15px 35px 0px 0px; background:url(../images/Arrow_up.png) no-repeat 23px 22px;}
.job_table_title .current{background:url(../images/Arrow_down.png) no-repeat 23px 22px;}
.job_con{ display:none;}
.show{ display:block;}
.tab-items .address_name{ width:80px; text-align:center;}


.fzlc .job_table_title ul li:first-child{ width:30%;}
.fzlc .job_table_title ul li:nth-child(3){ width:10%;}

.job_title ul li:first-child{ width:30%;}
.job_title ul li:nth-child(3){ width:10%;}

.Guarantee_conct{
	width: 100%;
	height: 30px;
	background:url(../images/Guarantee_conct.jpg) no-repeat center right;
	text-align: right;
	padding-top: 22px;
	color: #0189E8;
	border-top: 1px solid #e5e5e5;
}

.fzlc .linkct{
	background-repeat: no-repeat;
	background-position:center -160px ;
	width: 100%;
	height: 100%;
	transition: all 0.6s ;
  -moz-transition: all 0.6s ;
  -webkit-transition: all 0.6s ;
  -o-transition: all 0.6s ;
  position:relative;
}

.fzlc .linkct img{
	max-width:100%;
	position:absolute;
	left: 0;
	top:-150px;
	width: 227px;
	height: 300px;
	}
.anlibox li:hover{background: #f7f7f6;}
.anlibox li:hover img{top:0px;}
.fzlc .linkct:hover {
	background-position:center 0px ;
	background-color:#f7f7f7;
	transition: all 0.6s ;
  -moz-transition: all 0.6s ;
  -webkit-transition: all 0.6s ;
  -o-transition: all 0.6s ;

}

.wrapper{width: 1200px;margin: 10px auto 20px;}
.w800{width: 800px;}
.abstract_s4con,.abstract_s5con{text-align:center}
p:empty{height: 0;}