@CHARSET "UTF-8";
html{
  font-size:24px;
  -webkit-text-size-adjust:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  font-family: Helvetica,microsoft Yahei,Arial;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
ul,li,dl,dd{list-style-type: none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a,button,input,textarea,select,li,div{ background: none; -webkit-tap-highlight-color:rgba(255,0,0,0); outline:none; -webkit-appearance:none;font-family:Helvetica,microsoft Yahei,Arial;}
button{border:0;}
em{font-style:normal;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
textarea{ resize:none; overflow:auto;}
body{
  min-height:100%;
  background:#fff;
  overflow-x: hidden;
  color:#444;
}
input,img{vertical-align:middle;}
a {
    text-decoration: none;
}
/*自动高对齐*/
.clearfix::after{
content:"."; display:block; height:0; clear:both;
visibility:hidden;
}
/* 响应式定义根元素，在某种屏幕宽度下根元素的1rem单位=?px   应用模块实际宽度（px）=根元素（px）*应用模块（rem） */
@media screen and (min-width:320px) {
  html{
    font-size: 24px;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (min-width:360px) {
  html {
    font-size: 24px;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (min-width:375px) {
  html {
    font-size: 25px;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (min-width:384px) {
  html {
    font-size: 25.6px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width:400px) {
  html {
    font-size: 26.66666667px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width:414px) {
  html {
    font-size: 27.6px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width:424px) {
  html {
    font-size: 28.26666667px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width:480px) {
  html {
    font-size: 32px;
  }
  body {
    font-size: 15.36px;
  }
}
@media screen and (min-width:540px) {
  html {
    font-size: 36px;
  }
  body {
    font-size: 17.28px;
  }
}
@media screen and (min-width:720px) {
  html {
    font-size: 36px;
  }
  body {
    font-size: 17.28px;
  }
}
@media screen and (min-width:750px) {
  html {
    font-size: 36px;
  }
  body {
    font-size: 17.28px;
  }
}
.blank15{height:.3rem; line-height:.3rem; clear:both; visibility:hidden;}
.blank20{height:.4rem; line-height:.4rem; clear:both; visibility:hidden;}
.blank30{height:.6rem; line-height:.6rem; clear:both; visibility:hidden;}
.f_l{
  float: left;
}
.f_r{
  float: right;
}
.el{
  white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.t_r{
  text-align: right;
}
/*分割线*/
.split-line{
  position: relative;
}
.split-line::after{
  content: '';
  width: 100%;
  border-top: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin:0 100%;
  transform-origin: 0 100%;
  z-index:9;
}
/* 上边框 */
.split-line-top{
  position: relative;
}
.split-line-top::before{
  content: '';
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin:0 0;
  transform-origin: 0 0;
z-index: 9;
}
/* 左边框 */
.split-line-left{
  position: relative;
}
.split-line-left::before{
  content: '';
  height: 100%;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transform-origin:0 0;
  transform-origin: 0 0;
z-index: 9;
}
/* 右边框 */
.split-line-right{
  position: relative;
}
.split-line-right::after{
  content: '';
  height: 100%;
  border-right: 1px solid #e8e8e8;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transform-origin:100% 0;
  transform-origin: 100% 0;
z-index: 9;
}
/* 弹性盒子布局 */
.flex-box{
  display:-webkit-box;
  display:-webkit-flex;
  display: flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-box-align: center;
}
.flex-1{
  -webkit-flex:1;
  -webkit-box-flex:1;
  flex:1;
}
.imgbox img{
  display: block;
  width:100%;
}
/* 主色调文字 */
.txt-main{
  color:#3d78d1;
}
/* 头部 */
#header{
  background:#fff;
  padding:0 .5rem;
  height:2.2rem;
}
#header .logo{
  height:1.2rem;
  width:60%;
  overflow: hidden;
}
#header .logo img{
  height:100%;
  max-width:100%
}
#header .contact-btn{
  display: block;
  width:1.4rem;
  height: 1.4rem;
  border-radius:1.4rem;
  border:1px solid #dcdcdc;
  margin-left: .6rem;
}
#header .contact-btn a{
  height:1.4rem;
}
#header .contact-btn i{
  text-align: center;
  display: block;
  color:#676767;
  font-size: .7rem;
}
/* 底部 */
#footer{
  display:-webkit-box;
  display:-webkit-flex;
  display: flex;
  padding:.5rem .7rem 2.2rem;
  font-size:.44rem;
  background:#3d78d1;
  line-height: .9rem;
  color:#fff;
}
#footer .imgbox{
  width:3.1rem;
  height:3.1rem;
}
#footer .code-box{
  padding-bottom:.9rem;
}
#footer .copy-box{
  margin-left: 1.4rem;
}
.code-click{
  width:100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  background:rgba(0, 0, 0, .5);
  z-index:100;
  pointer-events:none;
  -webkit-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
.code-click.active{
  opacity:1;
  pointer-events:auto;
}
.code-click img{
  position: absolute;
  top:100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width:50%;
  display: block;
  -webkit-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
.code-click img.active{
  top:50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* 底部导航 */
#footer-nav{
  height:2.2rem;
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  overflow: hidden;
  z-index:50;
}
#footer-nav ul{
  -webkit-backdrop-filter:blur(15px);
  background:rgba(51, 51, 51, .85);
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:2.2rem;
  z-index:10;
}
#footer-nav li{
  position: relative;
  width:20%;
}
#footer-nav li::after{
  content: '';
  height: 100%;
  border-right: 1px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
  opacity:.08;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transform-origin:100% 0;
  transform-origin: 100% 0;
  z-index: 9;
}
#footer-nav li a{
  text-align: center;
  color:#fff;
  display: block;
  font-size:.4rem;
}
#footer-nav li a i{
  line-height: 1rem;
  font-size:.8rem;
}
/* 顶部导航 */
#nav{
  background:#fff;
  height:1.6rem;
  overflow: hidden;
}
#nav li{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height:1.6rem;
  line-height: 1.6rem;
  text-align: center;
}
#nav .active{
  border-bottom:3px solid #3d78d1;
}
#nav li a{
  font-size:.58rem;
}
#nav .active a{
  color:#3d78d1;
}
/* 广告图 */
.banner-list img{
  display: block;
  width:100%;
}
.banner-nav{
  position: absolute;
  bottom: .4rem;
  left: 50%;
  z-index:9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.banner-nav li{
  float: left;
  width:.2rem;
  height:.2rem;
  margin-right: .2rem;
  border-radius:.2rem;
  z-index:10000;
  background:rgba(255, 255, 255 ,.3);
  -webkit-transition: all .5s ease-out;
          transition: all .5s ease-out;
}
.banner-nav li.on{
  width:.7rem;
  background:#3d78d1;
}
.banner-nav li:last-child{
  margin-right: 0;
}
/* 公司简介导航 */
#about-nav{
  background:#f6f9fa;
}
#about-nav ul{
  font-size:.58rem;
  height: 1.6rem;
}
#about-nav ul li{
  text-align: center;
  line-height: 1.6rem;
}
#about-nav ul li a{
  display: block;
  color:#444;
}
#about-nav ul .active a{
  color:#3d78d1;
}
/* 直播共用底部 */
.zb-footer{
  background:#fff;
  padding:.5rem;
  text-align: center;
}
.zb-footer .title{
  color:#56bead;
  font-size:.7rem;
  line-height: 1rem;
  font-weight:bold;
}
.zb-footer p{
  color:#166968;
  line-height: .72rem;
}
.zb-footer .zb-btn{
  display: inline-block;
  width:6.4rem;
  text-align: center;
  line-height: 1.2rem;
  color:#fff;
  background:#56bead;
  border-radius:2px;
}
/* 站长统计 */
.java-wrap{
  display:none;
}
#LXB_CONTAINER_SHOW{
  display:none !important;
}


.linkct{height:2.2rem;overflow: hidden;}