body{
	background:#fff;
}
.swiper-container{
	height:1.6rem;
	background:#f6f9fa;
}
.swiper-container:after {
    content: '';
    width: 100%;
    border-top: 1px solid #e8e8e8;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    z-index: 9;
}
.success-nav li{
	text-align: center;
	font-size:.58rem;
	line-height: 1.6rem;
}
.success-nav li a{
	color:#444;
	display:block;
	width: 100%;
	height: 100%;
}
.success-nav .active a{
	color:#e60012;
}
.success-list{
	padding:0 .4rem 1.2rem;
}
.success-list li{
	padding:.4rem 0;
	-webkit-transition: all .5s ease;
	        transition: all .5s ease;
}
.success-list li .imgbox{
	border:1px solid #e8e8e8;
	width:3.6rem;
	height:2.2rem;
	border-radius:3px;
	overflow: hidden;
}
.success-list li .success-info{
	margin-left:.5rem;
}
.success-list li .success-name h1{
	font-size:.56rem;
	color:#444;
	line-height: .88rem;
}
.success-list li .success-name .type{
	color:#e60012;
}
.success-list li .success-name .type::after{
	content:'';
	border-right:1px solid #d2d2d2;
	height:.6rem;
	margin: 0 .4rem;
}
.success-list li .success-txt{
	color:#999;
	font-size:.42rem;
	display:-webkit-box;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break:break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
}

.swiper-wrapper{height: 1.6rem;}
.swiper-slide{background: none;}