.main-title{
	padding:.6rem 0;
	text-align: center;
	color:#444;
}
.main-title h1{
	font-size:.8rem;
	line-height: 1.3rem;
}
.main-title p{
	font-size:.52rem;
	line-height: 1rem;
}
.us-info{
	margin:0 .5rem;
	border-bottom:1px dotted #e8e8e8;
}
.intro .us-info{
	padding-top:.4rem;
}
.intro .us-info p{
	line-height: .8rem;
	color:#444;
	margin-bottom: .8rem;
}
/* 方维优势 */
.advantage li{
	padding:0 .5rem;
	margin-bottom: 1.2rem;
}
.advantage li .imgbox{
	width:2.8rem;
}
.advantage li .advantage-info{
	margin-left: .5rem;
}
.advantage li .t_r{
	margin-left: 0;
	margin-right:.3rem ;
}
.advantage li .advantage-title{
	font-size:.68rem;
	color:#3461bd;
	line-height:1.4rem;
}
.advantage li .advantage-txt{
	font-size:.42rem;
	color:#444;
	line-height: .6rem;
}
/* 成就 */
.achievement{
	height:7.1rem;
	background:url(../images/achievement.jpg) no-repeat;
	background-size:cover;
	color:#fff;
	padding:0 .5rem;
}
.achievement .achievement-tit{
	text-align: center;
	font-size:.8rem;
	line-height: 2.4rem;
	padding-top: .3rem;
}
.achievement .achievement-item{
	height:1.2rem;

}
.achievement .achievement-item .imgbox{
	width:.5rem;
	margin-right: .4rem;
}
.achievement .achievement-item p{
	font-size:.52rem;
}
.achievement-list{
	padding-top:1.4rem;
}
.achievement-list li{
	width:50%;
	float: left;
	height:5.7rem;
	text-align: center;
}
@media screen and (min-width:750px) {
	.achievement-list li{
		width:33.33%;
	}
}
.achievement-list li .imgbox{
	width:2.7rem;
	margin: 0 auto;
}
.achievement-list li p{
	text-align: center;
	margin-top: .2rem;
	line-height: .64rem;
	font-size:.4rem;
	color:#666;
}
/* 企业文化 */
.culture{
	padding-top:.6rem;
}
.culture-list{
	padding-bottom:.9rem;
}
.culture-list .imgbox{
	width:2.4rem;
	margin: 0 auto;
}
.culture-list .culture-txt{
	display: block;
	text-align: center;
	line-height: 1rem;
}
.team{
	padding-top:.4rem;
}
.team .team-txt{
	line-height: .8rem;
	padding:0 .5rem;
	text-align: center;
}
.team .imgbox{
	padding:.6rem 0;
}